*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Red Hat Display', sans-serif;
    background-color: #000;
    color: white;
}

header {
    padding: 2rem;
}

header>h1 {
    text-align: center;
    font-size: clamp(2.5rem, 5vw, 4rem);

}

header>p {
    text-align: center;
    font-size: clamp(1.25rem, 2vw, 1.75rem);
    margin-top: 0.75rem;
}

.container {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    gap: 2rem;
    text-align: center;
}

@media only screen and (max-width: 768px) {
    .container {
        display: grid;
        grid-template-columns: 1fr;
    }
}

.card {
    /* padding: 2rem; */
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.card__image {
    margin-left: auto;
    margin-right: auto;
}

.card__image>img {
    max-width: 100%;
    block-size: auto;
    object-fit: contain;
}


/* SWIPER */
.swiper {
    width: 100%;
}

.swiper-slide {
    opacity: .25;
}

.swiper-slide .card__image {
    user-select: none;
}

.swiper-slide-active {
    opacity: 1;
}

.swiper-slide-active .card__image {
    transform: scale(1.1);
}